@import url('https://fonts.googleapis.com/css?family=PT+Sans');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
	height: 100vh;
    background: url("images/background\ 1.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'PT Sans', sans-serif;
}
.fomat{
	box-sizing: border-box;
	border: none;
	padding: 5px 5px 5px 10px;
	width: 250px;
	background-color: none;
    outline:none;
    font-size: 1em;

}
.group{
	margin: 9px;
	background: white;
    border-radius: 2px;
    width: 320px;
}
.icon_signup, .icon_login{
	padding-top: 5px;
	padding-left: 8px;
	font-size: 1.5em;
	background: none;
	
}
#subsignup{
   /* display: block;
   margin: 0 100px; */
    position: absolute;
    /* top: 20px; */
    display: block;
    /* border: 1px solid aquamarine; */
    width: 70px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    background: #212121;
    left: 50%;
    transform: translate(-50%,0%);
    border-radius: 5px;
    color: #f9f9f9f9;  
}
#subsignup:hover,
#login:hover{
    background: #f8e007;
    box-shadow: 3px 3px #3d3c3cda;
    color: #212121;
}
.form{
    margin-bottom: 2em;
}
.close {
    font-size: 1.5em;
    position: absolute;
    top:0.2em;
    right: 0.4em;
}
.close :hover {
    color: #f8e007;
}
/* #sublogin{
	margin-left: 85px;	
	border-radius: 2px;
} */
#login{
    position: absolute;
    display: block;
    width: 70px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    background: #212121;
    left: 50%;
    transform: translate(-50%,0%);
    border-radius: 5px;  
    color: #f9f9f9f9;
    
}
.sublogin{
	margin: 0px 5px;
	padding: 3px;
}
.login-signin{
    background: rgba(50, 133, 228, 0.699);
    max-width: 400px;    
    padding: 2em;
    border-radius: 2%;
    position: absolute;
    top:50%;
    left: 40%;
    transform: translate(-50%,-50%);
    opacity: 0;
	transition:.7s;
    margin-left: -900px;  
    box-shadow: 3px 3px #3d3c3cda;  
}
.hello{
    background: rgba(50, 133, 228, 0.699);
    max-width: 400px;    
    padding: 2em;
    border-radius: 2%;
    position: absolute;
    top:50%;
    left: 40%;
    transform: translate(-50%,-50%); 
    box-shadow: 3px 3px #3d3c3cda;
    transition:.7s;
}
.hello h2{
    text-align: center;
}
.hello p{
    margin: 0.5em;
}
.hello a{
    text-decoration: none;
    background: #212122;
    color: #f9f9f9f9;
    padding: .3em;
    text-align: center;
    margin: 1em 1em ;
    border-radius: 5px;
    /* box-shadow: 3px 3px #3d3c3cda; */
}
.hello a:hover{
    background: #f8e007;
    border: none;
    transition:.7s;
    box-shadow: 3px 3px #3d3c3cda;
    color: #212121;
}
label.error {
    color: #da380f;
	display: block;
}
@media screen and (max-width:570px){
    .hello a{
        display: block;
    }
}
@media screen and (max-width:520px){
    .login-signin,
    .hello{
        left: 50%;
        width: 100%;
    }
    .group{
        width: 100%;
    } 
    .fomat{
        width: 85%;
    }
    
}
@media screen and (max-width:400px){
    .hello a{
        display: block;
    }
}
