@import url('https://fonts.googleapis.com/css?family=Spicy+Rice');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

*{
    margin: 0;
    padding: 0;
	box-sizing: border-box;
	/* position: relative; */

}
body{
    font-family: 'Open Sans Condensed', sans-serif;
	font-size: 100%;
	background:rgba(0, 0, 0, 0.922);
	
}
/*Grid System*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
    float: left;
    padding: 15px;    
}
/*/Grid System*/
/*header*/
/*header-1*/

.header-1{
	background-color: rgb(61, 61, 61) ;/*nền header1*/	
	display: flex;
	justify-content: space-around;
	margin: 0.5em 0;
	
}
.header-1 a{
    text-decoration: none;
    color: aliceblue;
    font-weight:500;
    display: inline-block; 
	padding: 0.3rem;
	font-size: 120%;
			
}
.header-1 a:hover{
    color: #daa40f;

}
/*.top{
	max-width: 980px;
	margin: 0px auto;
}*/

.search-txt{
    font-size: 17px;
	border-radius: 10px;
	width: 300px;
    height: 40px;
    background: #ffffff;
	border: none;
	font-family: 'Open Sans Condensed', sans-serif;
	padding: 0.4em;	
}

.search-box{
	position: relative;
}
.search_result{
	width: 400px;
	padding: 20px;	
	background: #898989;
	position: absolute;
	z-index: 9999;
	right: 0px;
	margin-top: 10px;
	border-radius: 10px;
	
}
.search_result .list-item img {
	height: 150px;  
	width: 120px;  
	object-fit: cover;
	padding: 2px;
}
.search_result .list-item :hover{
	background: #daa40f;
}

/*/header-1*/
/*header-2*/

.header-2{
	display: flex;
	justify-content: space-between;
	background:#3D3D3D;/*nền header2*/	
	margin: 0 0 0.5em 0;
}
.logo h1 a{
	font-family: 'Spicy Rice', cursive;
}
.logo p{
	font-family: 'Dancing Script', cursive;
	font-size: 22px;
	color: #fff;
}
.header-2 a{
    text-decoration: none;
    color: #ffffff;
}
.header-2 p{
    font-size: 13px;
	padding-left: 3.5rem;

}
.logo{
    display: inline-block;
    padding: 0.7em;
    /*float: left;*//* sử dung flex nên ko cần dùng */
}
.hidden{
    display: none;
}
.nav-wrapper ul{
    /*float: right;*//* sử dung flex nên ko cần dùng */    
    list-style-type: none;
}
.navbar{
	display: flex;
}
.nav-wrapper li {
    display: inline-block;
    padding: 1rem;
    width: 100px;

}
.nav-wrapper li:hover a{
    color: rgb(235, 157, 14) ;       
    border-bottom: 5px solid #d6da0f ;   
    padding-bottom: 3px;    
    transition: 0.3s;  
}
.open-slide{	
	display: none;
}
.slide-nav{
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	height: 100%;
	background: #898989;
	padding-top: 30px;
	transition: 0.5s;
}
.slide-nav a{
	color: #fff;
	display: block;
	width: 100%;
	height: 3em;
	line-height: 3em;
	text-align: center;
	border-bottom: 1px solid seashell;	
	transition: 0.7s;	
}
.slide-nav a:last-child{
	border-bottom: none;
}
.slide-nav .closemenu {
	position: absolute;	
	width: 1em;
	height: 1em;	
	top:0;
	left: 0;
	border-bottom: none;
}
.pin-to-top{
	position: fixed;
	width:100%;	
	top: 0px;
	right: 0px;
	z-index: 9999;
	padding: 0px;
	justify-content: space-around;
	padding: .5em;
	
}
.pin-to-top .logo {
	padding: 0px;
}
/*/header-2*/
/*/header*/
/*banner*/
/*888888888888888888888888888888888888888*/
/*/banner*/
/*main-left*/
/*.main-left {
	display: grid;
	grid-template-columns:repeat(3, 1fr);
	grid-gap: 0.7em;	
}*//*test grid main-left*/

.main-left{
	background: #5C5C5C;/*nền main-left*/	
	box-sizing: border-box;	
	margin-bottom: 0.5em;	
	border-right: #141414 0.5em solid;
	min-height: 1025px;
}
.new-film,
.movie,
.tivishow
{
	display: grid;
	grid-template-columns:repeat(3, 1fr);
	grid-gap: 0.7em;
	grid-auto-rows: 300px;
	grid-auto-columns: 197.61px;	
}
.item{	
	padding: 0px;
	display: flex;
	flex-flow:column;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;	
}
.item img {
	width: 100%;
	height: 250px;	
	/* object-position:center; */
	display: block;	
	object-fit: cover;/*để ảnh ở giữa*/
}
.label-status {
	color: white;
	background: red;
	display: block;
	width: 50px;
	height: 20px;
	border-radius: 10%;
	text-align: center;
	top: 5px;
	left: 3px;
	position: absolute;
	font-weight: bold;
}
.title {	
	color: rgba(248, 228, 228, 0.87);
	font-size: 20px;
	font-weight:bold; 
	padding-left: 10px;
	overflow: hidden;

}
a{
	text-decoration: none;
}
.title i{	
	font-size: 12px;
}
.hover-item{
	width: 0;
	height: 250px;	
	background: rgba(236, 136, 14, 0.774);
	position: absolute;	
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: .7s ease;	
}
.hover-item i{
	color: rgb(255, 255, 255);
	font-size: 50px;
}
.hover-item i:hover{
	color:#5C5C5C;
		
}
.item:hover .hover-item{
	width: 197.61px;
}
h2 a{
	color: #d6da0f;
	font-family: 'Roboto',Helvetica,Arial,sans-serif;
}
.nextpage{
	color: #daa40f;
	font-weight: 900;
	margin-right: 1,5em;
}

/*/main-left*/
/*main-right*/
.main-right{
	background: #5C5C5C;/*nền main-right*/	
	margin-bottom: 0.5em;
}
.list-top{
	display: flex;
	flex-direction: column;		
}
.list-item {
	max-width: 100%;
	height: 150px;
	margin-top:10px ;
}
.list-item img{
	height: 150px;
	width: 40%;
	object-fit: cover;
}
.list-item a{
	display: flex;
}
.list-item:hover {
	background :rgba(236, 136, 14, 0.774);
	border-radius: 2%;
	transition: 0.7s ease;	
	transform: translate(-6px,-3px);
}
.name{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.parameter{
	font-size: 70%;
	color: #fffff2d3;
	padding: 2px;
}
/*/main-right*/
/*footert*/
.footer{
	background-color: #3D3D3D;/*nền footer*/	
	color: white;
}
.bottom{
	max-width: 980px;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
}
.bottom .logo h1{
	color: #fff;
	font-family: 'Spicy Rice', cursive;
}
.bottom .logo a{
	color: aliceblue;
	font-size: 2em;
}
.support li,
.contribute li{
	list-style-type: none;
} 
.support li a,
.contribute li a{
	color: #fff;
	text-decoration: none;
}
.bottom a:hover{
	color: rgba(233, 166, 23, 0.884);
} 

/*/footer*/
/*phimviet2*/
.row{
	min-height: 1025px;
}
.captionmain {
	background: #5C5C5C;
	margin-bottom: .5em;

}
.contenmain{
	background: #5C5C5C;
	margin-bottom: .5em;
	min-height: 2em;
	line-height: 2em;
}
.contenmain li{
	display: inline-block;
	list-style-type: none;	
}
.contenmain a.chontap{
	background: #e28710da;
}
.contenmain a{
	display: inline-block;
	width: 30px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	background: #3D3D3D;
	color:#fff; 
	margin: .2em;
}
.contenmain a:hover{
	color: #141414;
	background:#fff; 
}
.conten p {
	color: aliceblue;
	padding: 0.2em;
}
#filmname{
	color: aliceblue;
}
/* .contenmain a:active{
	color: #fff;
	background:#141414; 
} */
.comment{
	background: #5C5C5C;
	margin-bottom: 0.5em;
	min-height: 200px;
}
.submit{
	width: 100px;
	height: 30px;
	display: block;
}
.comment_form{
	position: relative;
	display: block;
}
.submit{
	position: absolute;
	right: 20px;
}
.txtcomment{
	width: 100%;	
	font-family: sans-serif;
	
}

/*/phimviet2*/


/*laptop - pc*/
@media screen and (min-width:971px){
	.container{
		max-width: 980px;
		margin: 2px auto;
	}	
}


/*tablet*/
@media screen and (max-width:970px) {  /*khi độ rộng của màn hình nhỏ hơn 864 thì khối lệnh bên trong dk thực hiện*/
	.logo{
		padding: 0;
	}
	.main-left{
			
		border-right:none;
	}
	.item:hover .hover-item{
		width: 0;
	}
	.pin-to-top{
		justify-content:space-between;
	}
	
    .col-tab-1 {width: 8.33%;}
    .col-tab-2 {width: 16.66%;}
    .col-tab-3 {width: 25%;}
    .col-tab-4 {width: 33.33%;}
    .col-tab-5 {width: 41.66%;}
    .col-tab-6 {width: 50%;}
    .col-tab-7 {width: 58.33%;}
    .col-tab-8 {width: 66.66%;}
    .col-tab-9 {width: 75%;}
    .col-tab-10 {width: 83.33%;}
    .col-tab-11 {width: 91.66%;}
    .col-tab-12 {width: 100%;}
}

@media screen and (max-width:720px) 
{  /*khi độ rộng của màn hình nhỏ hơn 720px thì khối lệnh bên trong dk thực hiện*/
	.logo{
		padding: 0;
	}
	.new-film,
	.movie,
	.tivishow
	{
		display: grid;
		grid-template-columns:repeat(2, 1fr);
		grid-gap: 0.3em;		
	}
	
	[class*='col-']{
		padding: 0;
	}
	.search-box{
		display: none;
	}
	.item:hover .hover-item{
		width: 0;
	}
	.open-slide{
		padding: 1rem; 
		font-size: 20px;
		display: list-item;	
		list-style-type: none;	
	}
	.nav-wrapper{
		display: none;
	}
	.support,.contribute{
		display: none;

	}
	.list-item img{
		width: 30%;
		padding-left: .3em;
		margin: .5em;
	}

	.header-1{
		justify-content: flex-start;
	}

    
}
/*smart phone*/
@media screen and (max-width:401px) 
{  /*khi độ rộng của màn hình nhỏ hơn 864 thì khối lệnh bên trong dk thực hiện*/
	.logo{
		padding: 0;
	}
	.new-film,
	.movie,
	.tivishow
	{
		display: grid;
		grid-template-columns:repeat(2, 1fr);
		grid-gap: 0.3em;		
	}
	
	[class*='col-']{
		padding: 0;
	}
	.item img {
		width: 100%;
		height: 250px;		
	}
	.item:hover .hover-item{
		width: 0;
	}	

 
}
@media screen and (max-width:352px) 
{  /*khi độ rộng của màn hình nhỏ hơn 864 thì khối lệnh bên trong dk thực hiện*/
	.logo{
		padding: 0;
	}
	.new-film,
	.movie,
	.tivishow
	{
		display: grid;
		grid-template-columns:repeat(2, 48%);
		grid-gap: 0.3em;		
	}
	
	[class*='col-']{
		padding: 0;
	}	
	.item:hover .hover-item{
		width: 0;
	}
	.item img {
		width: 100%;
		height: 250px;
	
	}	
 
  
}
/* 
		position: absolute;
		top:50%;
		left:50%;
		transform: translate(-50%, -50%); */